* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .dat_editar_pcr {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dat_editar_pcr_contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  .dat_editar_pcr_form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
  }
  .dat_editar_pcr_titulo {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  .dat_editar_pcr_titulo h1{
    font-size: 2.5em;
  }
  .linea_titulo {
    width: 100%;
    height: 8px;
    background-color: #75b841;
    border-radius: 25px;
  }
  .dat_datos{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .dat_datos input{
    width: 100%;
    height: 25px;
    border-radius: 25px;
    padding: 0 10px;
    border: none;
    background: #cda7cf;
  }
  .equipo1{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .equipo2{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .botones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 10px;
    place-items: center;
    margin-top: 20px;
  }
  .botones input {
    width: 250px;
    height: 30px;
    border-radius: 25px;
    border: none;
    background-color: #75b841;
    transition: 0.5s;
    cursor: pointer;
  }
  .botones input:hover {
    transform: translateY(-8px);
  }
  .botones input :active {
    transform: translateY(2px);
    transition: 0.3s;
  }