*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Selected{
    color: #61a60e;
}

/*==============Header==============*/
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.7rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: "Montserrat",sans-serif;
    
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.548);
    background-color: #f7efe1;
    
}

.name{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a{
    font-size: 1.15rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: 0.5s ease;
}

.navbar a:hover{
    color: #61a60e;
    padding-right: 10px;
}

#check{
    display: none;
}

.menu{
    position: absolute;
    right: 5%;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.img_menu{
    width: 50px;
}

@media(max-width:768px){
    .header{
        padding: 0.5rem 1%;
    }
}

@media(max-width:1024px){
    .header{
        padding: 0.5rem 10%;
    }
    .menu{
        display: inline-flex;
    }
    #check:checked~.menu #icon-menu{
        display: none;
    }
    .menu #close-menu{
        display: none;
    }
    #check:checked~.menu #close-menu{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #16161691;
        backdrop-filter: blur(50px);
        overflow: hidden;
        transition: 0.3s ease;
    }
    #check:checked~.navbar{
        height: 17.7rem;
    }
    .navbar a {
        display: block;
        font-size: 1rem;
        margin: 1.5rem 0;
        text-align: center;
        transition: 0.3s ease;
        color: #f7efe1;
    }
    .bx{
        width: 40px;
    }
    
    .logo_gis{
        width: 25px;
    }
    
}

.bx{
    width: 40px;
}

.logo_gis{
    width: 120px;
}


/*==============Foter==============*/
.Footer{
    position: fixed;
    bottom: 0;
}


.Fotter_Contenedor {
    width: 100%;
    height: 50px;
    background: #1a1c20;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: 'Montserrat' , sans-serif;
}
.Footer_Logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f7efe1;
    gap: 10px;
}

.Footer_Logo img{
    height: 100%;
}