*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: "Montserrat",sans-serif;
    
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.548);
    background-color: #f7efe1;
    
}

.name{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a{
    font-size: 1.15rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: 0.5s ease;
}

.navbar a:hover{
    color: #61a60e;
    padding-right: 10px;
}

#check{
    display: none;
}

.menu{
    position: absolute;
    right: 5%;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.img_menu{
    width: 50px;
}

@media(max-width:768px){
    .header{
        padding: 0.5rem 1%;
    }
}

@media(max-width:767px){
    .header{
        padding: 0.5rem 10%;
    }
    .menu{
        display: inline-flex;
    }
    #check:checked~.menu #icon-menu{
        display: none;
    }
    .menu #close-menu{
        display: none;
    }
    #check:checked~.menu #close-menu{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #16161691;
        backdrop-filter: blur(50px);
        overflow: hidden;
        transition: 0.3s ease;
    }
    #check:checked~.navbar{
        height: 17.7rem;
    }
    .navbar a {
        display: block;
        font-size: 1rem;
        margin: 1.5rem 0;
        text-align: center;
        transition: 0.3s ease;
        color: #f7efe1;
    }
    .bx{
        width: 40px;
    }
    
    .logo_gis{
        width: 25px;
    }
    
}

.bx{
    width: 40px;
}

.logo_gis{
    width: 120px;
}


/*=======================Sesion=====================*/
.Sesion{
    width: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#00000080,#00000080),url('../img/laboratorio.webp')no-repeat;
    background-size: cover;
    background-position: center;
}

.Sesion_Contenedor{
    width: 400px;
    background-color:antiquewhite;
    border-radius: 20px;
    padding: 20px;
}

.Sesion_Imagen{
    width: 100%;
    display: grid;
    place-items: center;
    gap: 10px;
}

.Sesion_Imagen img{
    width: 100%;
}

.Sesion_Imagen h1{
    text-align: center;
    font-size: 2rem;
}

.Sesion_Form{
    width: 100%;
    display: grid;
    place-items: center;
    gap: 10px;
    margin-top: 20px;
}



/*=======================Registro=====================*/

.Contenedor_Datos {
    position: relative;
    width: 100%;
    display: grid;
    gap: 10px;
}
   
@media(min-width:768px){
    .Sesion_Contenedor{
        padding: 10px;
    }
}

.input {
    width: 100%;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
   
.user-label {
    position: absolute;
    left: 15px;
    color: black;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
   
.input:focus, input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
}
   
.input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: antiquewhite;
    padding: 0 .2em;
    color: #2196f3;
}


.Sesion_Boton {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.Sesion_Boton input {
    width: 200px;
    height: 28px;
    border-radius: 25px;
    background: #75B841;
    border:solid 2px #1a73e8;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1rem;
}

.Sesion_Boton input:hover{
    transform: translateY(-5px);
    background-color: #65a039;
}