.Dialog_Alert{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: none;
    place-content: center;
    background: #00000071;
    font-family: "Poppins",sans-serif;
}

.Dialog_Contenedor {
    width: 300px;
    min-height: 250px;
    background-color: antiquewhite;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    border: solid 3px #1461b9;
}
.Dialog_Titulo {
    font-size: 2rem;
    text-align: center;
}

.Dialog_Titulo h2{
    color: #1461b9;
}

.Dialog_Titulo p{
    font-size: 1.3rem;
    font-weight: bolder;
}


.Dialog_Contenido {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    width: 100%;
    position: relative;
}
  
.Dialog_Contenido input {
    padding: 0.8em;
    outline: none;
    border: 2px solid #1461b9;
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}
  
.Dialog_Contenido label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(48, 48, 48);
}
  
.Dialog_Contenido :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color:antiquewhite;
}
  
.Dialog_Contenido :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}
.Dialog_Botones {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.Dialog_Botones input[type="button"] {
    padding: 0.5em;
    outline: none;
    border: 2px solid #1461b9;
    background-color: #75b841;
    border-radius: 20px;
    width: 100%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

.Dialog_Botones input[type="button"]:hover {
    background-color: #56920c;
    transform: translateY(-5px);
}

.Dialog_Botones input[type="button"]:active{
    background-color: #75b841;
    transform: translateY(-4px);
    transition: 0.1s ease-in-out;
}


.Alerta_dialog{
    font-size: 1rem;
    color: red;
    text-align: center;
}