.Reactivos{
    width: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}

.Reactivos_Contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linea_titulo{
width: 100%;
height: 8px;
background-color: #75B841;
border-radius: 25px;
}
.Reactivos_Titulo{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
}

.Reactivos_Identificadores{
    width: 100%;
    display: grid;
    place-content: center;
}

input[type='text']{
    width: 100%;
    padding: 5px 10px;
    border: none;
    border: 2px solid #f7efe1;
    border-radius: 25px;
    outline: none;
    font-size: 1em;
    background: #cda7cf;
}

input[type='date']{
    width: 100%;
    padding: 5px 10px;
    border: none;
    border: 2px solid #f7efe1;
    border-radius: 25px;
    outline: none;
    font-size: 1em;
    background: #cda7cf;
}

select{
    width: 100%;
    padding: 5px 10px;
    border: none;
    border: 2px solid #f7efe1;
    border-radius: 25px;
    outline: none;
    font-size: 1em;
    background: #cda7cf;
}

.Reactivos_Form{
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 20px;
}

.Reactivos_Datos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}

.Reactivos_Botones{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    place-items: center;
    padding: 20px;
}

.Reactivos_Botones input{
    width: 250px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-weight: bolder;
    background-color: #75B841;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s ease;
}

.Reactivos_Botones input:hover {
    background-color: #75B841;
    transform: translateY(-5px);
}

.Reactivos_Botones input:active{
    background-color: #75B841;
    transform: translateY(0px);
}


.Opciones_Contenedor{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Opciones_Titulo{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
}

.Opciones{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.Opciones input {
    width: 250px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-weight: bolder;
    background-color: #75B841;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s ease;
}

.Opciones input:hover {
    background-color: #56920c;
    transform: translateY(-5px);
}

.Opciones input:active{
    background-color: #75B841;
    transform: translateY(0px);
}


.Reactivos_Tabla {
    width: 100%;
  }

  table{
    border-radius:5px ;
    font-size: 12px;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #e1cce1;
    border: 1px solid #a588a7;
    border-radius: 15px;
    overflow: hidden;
}

td,th{
    text-align: center;
    padding: 8px;
    border-right: 1px solid #a588a7;
}

td{
    font-size: 12px;
}

thead th{
    color:#262626;
    background: #cba7cc;
}

tr:nth-child(even){
    background-color: #cda7cf;
}

@media(max-width:767px){
    table{
        display: block;
        width: 100%;
    }
    thead,tbody,thead th{
        display: block;
    }
    thead th:last-child{
        border-bottom: none;
    }
    thead{
        float: left;
    }
    tbody{
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    td,th{
        padding: 20px 0.625em 0.625em 0.625em ;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    thead th{
        text-align: left;
        border-bottom: 1px solid #a588a7;
    }
    tbody tr{
        display: table-cell;
    }
    tbody tr:nth-child(odd){
        background: none;

    }
    tr:nth-child(even){
        background: transparent;
    }
    tr td:nth-child(odd){
        background-color: #cba7cc;
        border-right: 1px solid #a588a7;
    }
    tr td:nth-child(even){
        background-color: #e1cce1;
        border-right: #a588a7;
    }
    tbody td{
        display: block;
        text-align: center;
    }
}