*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
.ver_especie{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.ver_especie_contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.ver_especie_form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
}
.ver_especie_titulo{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ver_especie_titulo h1{
    font-size: 2.5em;
}
.linea_titulo{
    width: 100%;
    height: 8px;
    background-color: #75b841;
    border-radius: 25px;
}

