
.agregar_especie {
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.agregar_especie_contenedor {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.agregar_especie_form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
}

.agregar_especie_titulo {
    width: 100%;
    text-align: center;
    display: grid;
    place-items: center;
}

.agregar_especie_titulo h1 {
    font-size: 2.5em;
}

.linea_titulo {
    width: 100%;
    height: 8px;
    background-color: #75b841;
    border-radius: 25px;
}

.dat_datos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.dat_datos input {
    width: 100%;
    height: 25px;
    border-radius: 25px;
    padding: 0 10px;
    border: none;
    background-color: #dfb4e1;
}

.dato {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.botones {
    width: 100%;
    gap: 10px;
    margin-top: 20px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.botones input {
    width: 250px;
    height: 30px;
    border-radius: 25px;
    border: none;
    background-color: #75b841;
    transition: 0.5s;
    cursor: pointer;
}

.botones input:hover {
    transform: translateY(-8px);
}

.botones input :active {
    transform: translateY(2px);
    transition: 0.3s;
}

.datos {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}






.Acciones_Tabla{
    width: 100%;
    display: flex;
    gap: 10px;
}


.Acciones_Tabla select{
    width: 200px;
    height: 25px;
    border-radius: 25px;
    border: none;
    background-color: #cba7cc;
    padding: 0px 15px;
}


.Equipo_Tabla{
    width: 100%;
    display: grid;
    gap: 10px;
    margin-top: 10px;
  }

  table{
    border-radius:5px ;
    font-size: 1rem;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #e1cce1;
    border: 1px solid #a588a7;
    border-radius: 15px;
    overflow: hidden;
}

td,th{
    text-align: center;
    padding: 8px;
    border-right: 1px solid #a588a7;
}

td{
    font-size: 1rem;
}

thead th{
    color:#262626;
    background: #cba7cc;
}

tr:nth-child(even){
    background-color: #cda7cf;
}

@media(max-width:767px){
    table{
        display: block;
        width: 100%;
    }
    thead,tbody,thead th{
        display: block;
    }
    thead th:last-child{
        border-bottom: none;
    }
    thead{
        float: left;
    }
    tbody{
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    td,th{
        padding: 20px 0.625em 0.625em 0.625em ;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 0.8rem;
        text-overflow: ellipsis;
    }
    thead th{
        text-align: left;
        border-bottom: 1px solid #a588a7;
    }
    tbody tr{
        display: table-cell;
    }
    tbody tr:nth-child(odd){
        background: none;

    }
    tr:nth-child(even){
        background: transparent;
    }
    tr td:nth-child(odd){
        background-color: #cba7cc;
        border-right: 1px solid #a588a7;
    }
    tr td:nth-child(even){
        background-color: #e1cce1;
        border-right: #a588a7;
    }
    tbody td{
        display: block;
        text-align: center;
    }
}


.Nav_Paginacion{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0px 20px;
}

.Paginacion_Tabla{
    display: flex;
    list-style-type: none;
    gap: 5px;
}

.Pagina{
    padding: 5px;
    background-color: #cda7cf;
    border-radius: 2px;
}

.Pagina a{
    text-decoration: none;
    font-weight: bold;
    color: #262626;
}

.activo{
    color: #a588a7;
}
.Dato{
    width: 100%;
}

.Dato input{
    width: 100%;
    height: 25px;
    border-radius: 25px;
    padding: 0px 10px;
    border: none;
    background-color: #cba7cc;

}
.Dato select{
    width: 100%;
    height: 25px;
    border-radius: 25px;
    border: none;
    background-color: #cba7cc;
}


@media (max-width: 768px){
    .agregar_especie_contenedor{
        padding: 15px;
    }
    .botones input{
        width: 100%;
    }
    .Acciones_Tabla{
        flex-direction: column;
    }
    .Dato input{
        width: 100%;
        height: 35px;
    
    }
    .Dato select{
        width: 100%;
        height: 35px;
    }
    .Acciones_Tabla select{
        width: 100%;
        height: 35px;
    }
    .Pagina{
        padding: 15px;
        background-color: #cda7cf;
        border-radius: 2px;
    }
}