body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: antiquewhite;
}

.dat_pcr_tim_real{
  width: 100%;
  min-height: 100vh;
}

.dat_pcr_tim_real_contenedor{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

@media (max-width: 768px){
  .dat_pcr_tim_real_contenedor{
    padding: 50px 20px;
  }
}

.dat_pcr_tim_real_for{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dat_pcr_tim_real_titulo{
  width: 100%;
  text-align: center;
}

.dat_pcr_tim_real_titulo h1{
  font-size: 2.5rem;
}

.linea_titulo {
  width: 100%;
  height: 8px;
  background-color: #75B841;
  border-radius: 25px;
}

.datos_pcreal{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  place-items: center;
  gap: 20px;
}

.datos{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checks_pcreal{
  width: 100%;
}

input[type="text"]{
  width: 100%;
  height: 30px;
  border-radius: 25px;
  padding: 0 10px;
  border: none;
  background-color: #dfb4e1;
}
input[type="date"]{
  width: 100%;
  height: 30px;
  border-radius: 25px;
  padding: 0 10px;
  border: none;
  background-color: #dfb4e1;
}

textarea{
  width: 100%;
  border-radius: 25px;
  padding: 0 10px;
  border: none;
  background-color: #dfb4e1;
}

.botones{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  place-items: center;
  gap: 20px;
}

.botones input {
  width: 200px;
  height: 30px;
  border-radius: 25px;
  border: none;
  background-color: #75B841;
  transition: 0.5s;
  cursor: pointer;
}
.botones input:hover {
  transform: translateY(-8px);
}
.botones input :active {
  transform: translateY(2px);
  transition: 0.3s;
}

.checks_pcreal {
  width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
  place-items: center;
}
.datos_check {
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 5px;
}


@media (max-width: 768px){
  .dat_pcr_tim_real_contenedor{
    padding: 50px 20px;
  }
  .botones input{
    width: 100%;
  }
}




.Equipo_Tabla{
  width: 100%;
  display: grid;
  gap: 10px;
  margin-top: 10px;
}

table{
  border-radius:5px ;
  font-size: 1rem;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: #e1cce1;
  border: 1px solid #a588a7;
  border-radius: 15px;
  overflow: hidden;
}

td,th{
  text-align: center;
  padding: 8px;
  border-right: 1px solid #a588a7;
}

td{
  font-size: 1rem;
}

thead th{
  color:#262626;
  background: #cba7cc;
}

tr:nth-child(even){
  background-color: #cda7cf;
}

@media(max-width:767px){
  table{
      display: block;
      width: 100%;
  }
  thead,tbody,thead th{
      display: block;
  }
  thead th:last-child{
      border-bottom: none;
  }
  thead{
      float: left;
  }
  tbody{
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  td,th{
      padding: 20px 0.625em 0.625em 0.625em ;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 0.8rem;
      text-overflow: ellipsis;
  }
  thead th{
      text-align: left;
      border-bottom: 1px solid #a588a7;
  }
  tbody tr{
      display: table-cell;
  }
  tbody tr:nth-child(odd){
      background: none;

  }
  tr:nth-child(even){
      background: transparent;
  }
  tr td:nth-child(odd){
      background-color: #cba7cc;
      border-right: 1px solid #a588a7;
  }
  tr td:nth-child(even){
      background-color: #e1cce1;
      border-right: #a588a7;
  }
  tbody td{
      display: block;
      text-align: center;
  }
}


.Nav_Paginacion{
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 0px 20px;
}

.Paginacion_Tabla{
  display: flex;
  list-style-type: none;
  gap: 5px;
}

.Pagina{
  padding: 5px;
  background-color: #cda7cf;
  border-radius: 2px;
}

@media(max-width:767px){
.Pagina{
  padding: 10px;
}
}

.Pagina a{
  text-decoration: none;
  font-weight: bold;
  color: #262626;
}

.activo{
  color: #a588a7;
}




.Acciones_Tabla {
  width: 100%;
  display: flex;
  gap: 15px;
}
.Datos {
  display: flex;
  flex-direction: column;
}

.Datos select {
  width: 200px;
  height: 25px;
  border-radius: 25px;
  padding: 0 10px;
  border: none;
  background-color: #dfb4e1;
}


.Dato {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Dato input {
  width: 100%;
  height: 25px;
  border-radius: 25px;
  padding: 0 10px;
  border: none;
  background-color: #dfb4e1;
}

@media (max-width:767px){
  .Datos {
    width: 100%;
  }

  .Datos select {
    width: 100%;
    height: 35px;
  }
  .Dato input {
    height: 35px;
  }
  .extraccion_datos input{
    height: 35px;
  }
  .Acciones_Tabla{
    flex-direction: column;
  }
}